body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Cantarell';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.links {
  text-decoration: none;
  color: black;
}

.productCards{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-flow: wrap;
}

button{
  background-color: white;
  border-color: white;
  border-radius: 30px;
}
